.counterContainer {
  top: 20px;
  left: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 70px;
  border-radius: 20px;
  background-color: #f06c6d;
  font-size: 30px;
  font-weight: bold;
}
