.elementContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 14%;
  height: 23%;
  border-radius: 20px;
  background-color: white;
  padding: 15px;
}

.elementContainer:hover {
  background-color: #004a91;
  color: white;
}

.elementContainer:hover * {
  color: white;
}

.text {
  color: #004a91;
  font-weight: bold;
  font-size: 17px;
}
